.tool {
  padding: 4px;
  border-bottom: 1px solid #ddd;
  display: flow-root;
}

.tool .glyphicon {
  cursor: pointer;
}

.tool.tool-separator {
  font-weight: bold;
  background-color: #ddd;
  border-top: 1px solid #888;
  border-bottom: 1px solid #888;
  //cursor: pointer;
  //color: white;
}

.tool-checkin-planner, .tool-prof-planner, .tool-stat-planner {
  cursor: pointer;
}

.tool-droppable {
  cursor: pointer;
}

#tool-acq-group-base {
  display: none;
}

#tool-separator-base {
  display: none;
}

#tool-stat-planner-base {
  display: none;
}

#tool-checkin-planner-base {
  display: none;
}

#tool-profession-planner-base {
  display: none;
}

.tool-highlight {
  background-color: #f9f9de;
}

.tool-highlight-header {
  background-color: #428bca;
  color: #f9f9f9;
}

.bg-primary .popover-content {
  color: #333;
}

.glyphicon-arrow-up, .glyphicon-arrow-down {
  padding-left: 2px;
  padding-right: 2px;
}