#config-bar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 999;
  top: 0;
  right: 0;
  overflow-x: hidden;
  transition: 0.25s;
  padding-top: 40px;
  background-color: #ccc;
  overflow-y: hidden;
}

.config-indent {
  padding-left: 8px;
  max-width: 320px;
}

.select.select-block .btn {
  width: 100%;
}

.purchased-profession {
  padding-right: 15px;
}

#filter-adv-list {
  display: none;
}

#profession-adv-select-container > .btn-group > .dropdown-menu {
  max-width: 100%;
}

.toggle-group > .btn {
  padding-top: 8px;
  padding-bottom: 0px;
}