.remove-profession, .remove-conc {
  cursor: pointer;
}

.forget-profession {
  font-weight: bold;
  cursor: pointer;
}

.forgotten-basic-prof {
  text-decoration: line-through;
  color: #aaa;
}

.dropdown-menu li a.restricted-profession {
  color: #aaa;
  cursor: default;
  text-decoration: line-through;
}

.dropdown-menu li a.selected-profession {
  font-weight: bold;
  text-decoration: underline;
  cursor: default;
}

.dropdown-menu li a {
  padding: 1px 12px;
}

.pc-badge {
  position: absolute;
  right: 8px;
}

#basic-limit-warning {
  color: red;
  display: none;
}

#conc-limit-warning {
  color: red;
  display: none;
}