.remove-profession {
  cursor: pointer;
}

.dropdown-menu li a.restricted-profession {
  color: #aaa;
  cursor: default;
  text-decoration: line-through;
}

.dropdown-menu li a.selected-profession {
  font-weight: bold;
  text-decoration: underline;
  cursor: default;
}

.dropdown-menu li a {
  padding: 1px 12px;
}