%div{id: 'config-bar', style: 'display: none'}
  %div{class: 'config-indent'}
    %div{class: 'config-header'} 
      Profile
      %span{id: 'connection-status'} 
        Offline
    %div{class: 'btn-group container col-xs-12 extrapad', id: 'disconnect-fb-group'}
      %button{type: 'button', class: 'btn btn-primary', id: 'disconnect-fb'}
        Disconnect
      %button{type: 'button', class: 'btn btn-primary'}
        %span{class: 'glyphicon glyphicon-cog', id: 'configure-remote'}
    %div{class: 'col-xs-12 extrapad', id: 'fblink-container'}
      %button{type: 'button', class: 'btn btn-primary', id: 'link-to-fb'}
        %span{class: 'glyphicon glyphicon-transfer'} &nbsp;
        %span{id: 'link-to-fb-text'} Sync
      &nbsp;
      %span{class: 'glyphicon glyphicon-question-sign', id: 'what-link'}
    %div{class: 'btn-group container col-xs-12 extrapad'}
      %button{type: 'button', class: 'btn btn-primary', id: 'profile-rename'} 
        %span{class: 'glyphicon glyphicon-pencil', id: 'profile-editable-glyph'} &nbsp;
        Default
      %button{type: 'button', class: 'btn btn-primary dropdown-toggle', 'data-toggle': 'dropdown', id: 'profiles-dropdown'}
        %span{class: 'caret'}
      %ul{class: 'dropdown-menu', id: 'profile-dropdown'}
        %li
          %a{href: '#', id: 'profile-copy'} Copy Profile...
        %li
          %a{href: '#', id: 'profile-new'} Create From Scratch...
        %li
          %a{href: '#', id: 'generate-skill-info'} Generate Skill Info
        %li
          %a{href: '#', id: 'generate-character-sheet'} Generate Sheet
        %li{role: 'separator', class: 'divider', id: 'existing-profile'}

    / %div{class: 'col-xs-12 extrapad'}
    /   %button{type: 'button', class: 'btn btn-primary', id: 'generate-character-sheet'}
    /     %span{class: 'glyphicon glyphicon-list-alt'}
    /     &nbsp;
    /     Generate Sheet

    %div{class: 'row col-xs-12'}
      %hr

    %div{class: 'config-header'} Strain
    %div{class: 'container col-xs-12'}
      %select{class: 'selectpicker show-tick', id: 'strain-dd', 'data-width': 'fit'}

    %div{class: 'row col-xs-12'}
      %hr

    %div{class: 'config-header'} Basic Professions
    %div{id: 'profession-basic-config', class: 'container col-xs-12'}
      %div{class: 'dropdown row col-xs-12'}
        %button{class: 'btn btn-primary dropdown-toggle', type: 'button', id: 'add-basic-profession', 'data-toggle' => 'dropdown'}
          %span{class: 'glyphicon glyphicon-plus'}
          &nbsp
          Add
          %span{class: 'caret'}
        %ul{class: 'dropdown-menu', id: 'basic-profession-list'}

      %div{id: 'basic-limit-warning'} 
        Profession limit exceeded. Please remove or forget 
        %span{id: 'basic-overlimit'}0
        professions
    %div{class: 'row col-xs-12'}
      %hr

    %div{class: 'config-header'} Profession Concentrations
    %div{id: 'profession-conc-error'} Requires 200 XP, 50 HP, and 50 MP
    %div{id: 'profession-conc-config', class: 'container col-xs-12'}
      %div{class: 'dropdown'}
        %button{class: 'btn btn-primary dropdown-toggle', type: 'button', id: 'add-prof-conc', 'data-toggle' => 'dropdown'}
          %span{class: 'glyphicon glyphicon-plus'}
          &nbsp
          Add
          %span{class: 'caret'}
        %ul{class: 'dropdown-menu', id: 'conc-profession-list'}

      %div{id: 'conc-limit-warning'}
        Profession limit exceeded. Please remove
        %span{id: 'conc-overlimit'}0
        profession concentration

    %div{class: 'row col-xs-12'}
      %hr

    %div{class: 'config-header'} Advanced Professions
    %div{class: 'container col-xs-12', id: 'profession-adv-unlock'}
      %button{type: 'button', class: 'btn btn-primary', id: 'adv-unlock'}
        %span{class: 'glyphicon glyphicon-lock'}
        &nbsp; 
        Unlock
    %div{class: 'container', id: 'profession-adv-select-container'}
      %div{id: 'profession-adv-config', class: 'row'}
      /%select{class: 'selectpicker show-tick', id: 'adv-selector', 'data-width': 'fit', 'data-size': 8}
      %div{class: 'dropdown row col-xs-12'}
        %button{class: 'btn btn-primary dropdown-toggle', type: 'button', id: 'add-prof-adv', 'data-toggle' => 'dropdown'}
          %span{class: 'glyphicon glyphicon-plus'}
          &nbsp
          Add
          %span{class: 'caret'}
        %ul{class: 'dropdown-menu', id: 'adv-profession-list'}

      %div{id: 'adv-limit-warning'}
        Profession limit exceeded. Please remove
        %span{id: 'adv-overlimit'}0
        advanced profession

      %div{class: 'adv-list-block'}
        %input{'data-toggle': 'toggle', id: 'adv-list-toggle', type: 'checkbox', 'data-on': 'Show List', 'data-off': 'Hide List', 'data-width': '128px'}

    %div{class: 'row col-xs-12'}
      %hr
    %div{class: 'config-header'} Filters
    %ul{class: 'list-unstyled'}
      %li
        %input{type: 'checkbox', checked: true, id: 'filter-accessible'} Only Accessible
      %li
        %input{type: 'checkbox', checked: false, id: 'filter-discounted'} Only Discounted
      %li
        %input{type: 'checkbox', checked: true, id: 'filter-lore'} Hide Lore
      %li
        %input{type: 'checkbox', checked: true, id: 'filter-psionics'} Hide Psionics
      %li{id: 'filter-adv-list'}
        %input{type: 'checkbox', checked: true, id: 'filter-adv'} Hide Advanced
