%div{class: 'modal fade', id: 'modal-drop-simulator'}
  %div{class: 'modal-dialog'}
    %div{class: 'modal-content'}
      %div{class: 'modal-header text-center'}
        %h4 
          Simulate Drop
          %span{id: 'modal-drop-profession'}
      %div{class: 'modal-body'}
        %div{id: 'modal-drop-simulator-body'}
        %div{class: 'row'}
        
      %div{class: 'modal-footer'}
        %div{id: 'modal-drop-summary'}
        
        %button{class: 'btn btn-danger pull-right', id: 'modal-drop-execute'} Execute!
        %button{class: 'btn btn-default pull-right', 'data-dismiss' => 'modal', style: 'margin-right: 8px'} Cancel 