%div{class: 'modal fade', id: 'modal-fblink'}
  %div{class: 'modal-dialog'}
    %div{class: 'modal-content'}
      %div{class: 'modal-header'}
        %h4{class: 'modal-title'} Synchronize Profiles
      %div{class: 'modal-body'}
        %div{class: 'col-xs-12'}
          Synchronizing your profiles will store your profiles data in cloud. This will allow you to synchronize your data across multiple devices, as well as share your profiles with your friends. You must have a Facebook account to do so.
        %div{class: 'row'}
      %div{class: 'modal-footer'}
        %button{class: 'btn btn-primary pull-right', 'data-dismiss': 'modal'} Okay