%div{class: 'modal fade', id: 'modal-loader'}
  %div{class: 'modal-dialog'}
    %div{class: 'modal-content'}
      %div{class: 'modal-body'}
        %div{class: 'col-xs-12'}
          %ul{class: 'list-unstyled'}
            %li
              %span{class: 'glyphicon glyphicon-ok'} 
              &nbsp; Initializing data...
            %li{class: 'last-message'} ...
        %div{class: 'row'}