%nav{class: 'navbar navbar-inverse navbar-fixed-top navbar-xs'}
  %div{class: 'container-fluid navbar-container'}
    %div{class: 'row row-main'}
      %div{class: 'navbar-header col-xs-4 navbar-brand-main'}
        %a{class: 'navbar-brand navbar-brand-main'} DRpaedia
      %div{class: 'navbar-header col-xs-2 navbar-minmax'}
        %a{class: 'navbar-brand text-right navbar-minmax pull-right', href: '#', id: 'minmax'} << Max
      %div{class: 'navbar-header pull-right'}
        %a{class: 'navbar-brand', href: '#', id: 'config-button'}
          %span{class: 'profile-arrow'}
          %span{class: 'profile-name'} Loading...