%div{id: 'stats', class: 'stat-block'}
  %div{class: 'col-xs-4 stat-left'} 
    %span{class: 'stat-title'} HP
    %span{class: 'pull-right'} &nbsp; + 
    %span{class: 'pull-right stat-base', id: 'stat-base-hp'} 0
  %div{class: 'col-xs-6 stat-control'}
    %div{class: 'input-group'}
      %span{class: 'input-group-btn'}
        %button{class: 'btn btn-link btn-stat', type: 'button', id: 'btn-hp-sub'}
          %span{class: 'glyphicon glyphicon-minus'}
      %input{type: 'text', class: 'form-control text-right input-stat input-sm', id: 'stat-purchased-hp', value: 0}
      %span{class: 'input-group-btn'}
        %button{class: 'btn btn-link btn-stat', type: 'button', id: 'btn-hp-add'}
          %span{class: 'glyphicon glyphicon-plus'}
  %div{class: 'col-xs-2 stat-right'} 
    %span{class: 'stat-sum pull-right', id: 'stat-sum-hp'} 0