%div{class: 'modal fade', id: 'modal-tour'}
  %div{class: 'modal-dialog'}
    %div{class: 'modal-content'}
      %div{class: 'modal-header text-center'} 
        %h4 Welcome to DRpaedia
      %div{class: 'modal-body', id: 'modal-sync-conflict-body'}
        %p
          Hi there. It looks like it's the first time you're here. DRpaedia is a Character Planning Tool for 
          %a{href: 'http://www.dystopiarisinglarp.com/', target: '_dr'} 
            Dystopia Rising
            %span{class: 'glyphicon glyphicon-new-window'}
          Live-Action Role-Playing (LARP).

        %p
          DRpaedia uses a Profile system to store your data locally and on the cloud. You can access your Profiles by tapping the button on top-right of the page.

        %img{src: '/assets/0-profile.png', class: 'img'}

        %hr
        %p
          Next, you need to select your character's strain and professions. The skills accessible to your character and their corresponding XP costs are determied by the combination of these.

        %img{src: '/assets/1-strain-professions.png', class: 'img'}

        %hr
        %p
          Once you're set, you can start planning by tapping skills on the left and then dropping them to either Acquired box or Planned box. 

        %img{src: '/assets/2-interface.png', class: 'img'}

        %hr
        %p
          Enjoy DRpaedia and enjoy playing Dystopia Rising.
      %div{class: 'modal-footer'}
        %button{class: 'btn btn-default pull-right', 'data-dismiss' => 'modal'} Close