%div{class: 'modal fade', id: 'modal-unlock-advanced'}
  %div{class: 'modal-dialog modal-unlock'}
    %div{class: 'modal-content'}
      %div{class: 'modal-header text-center'} 
        %h4 Advanced Profession
      %div{class: 'modal-body'}
        %div{class: 'col-xs-12'}
          %p
            %strong{class: 'text-danger'} Excerpt from the Rulebook:
        
          %p
            Advanced Professions shouldn’t ever be your character’s end goal. In fact, most characters are unlikely to have even heard of most Advanced Professions. And it’s likely that if you’re seeking an Advanced Profession, you’re just as unlikely to get it. Most characters who achieve one of these Professions end up stumbling into it rather than actively seeking it; remember that it’s about the journey rather than the destination.

          %p
            %strong{class: 'text-danger'} Advanced Profession must be approved by your branch director. There is no guarantee that you'll obtain one.
          %p
            By enabling this feature, you either acknowledge that you have read this warning or you already possess one of the Advanced Professions.
        %div{class: 'row'}

      %div{class: 'modal-footer'}
        %button{type: 'button', class: 'btn btn-primary pull-right', id: 'btn-dismiss-advanced-warning'} I know, don't remind me again!

        %button{type: 'button', class: 'btn btn-default pull-right', 'data-dismiss': 'modal'} OK, nvm