%div{class: 'col-xs-8'}
  Professions
%div{class: 'col-xs-4'}
  %span{class: 'badge', id: 'xp-prof-acquired'} 0
  +
  %span{class: 'badge', id: 'xp-prof-planned'} 0
%div{class: 'col-xs-8'}
  Stats
%div{class: 'col-xs-4'}
  %span{class: 'badge', id: 'xp-stats-acquired'} 0
  +
  %span{class: 'badge', id: 'xp-stats-planned'} 0
%div{class: 'col-xs-8'}
  Skills
%div{class: 'col-xs-4'}
  %span{class: 'badge', id: 'xp-skills-acquired'} 0
  +
  %span{class: 'badge', id: 'xp-skills-planned'} 0
%div{class: 'col-xs-12'}
  %hr
%div{class: 'col-xs-8'}
  Total XP
%div{class: 'col-xs-4'}
  %span{class: 'badge', id: 'xp-total-acquired'} 0
  +
  %span{class: 'badge', id: 'xp-planned-acquired'} 0