%div{class: 'xp-block'}
  %table{class: 'table table-condensed xp-table'}
    %thead
      %tr
        %th
        %th Acq
        %th Plan
    %tbody
      %tr
        %td Professions
        %td
          %span{class: 'badge pull-right', id: 'xp-prof-acquired'} 0
        %td
          %span{class: 'badge pull-right', id: 'xp-prof-planned'} 0
      %tr
        %td Stats
        %td
          %span{class: 'badge pull-right', id: 'xp-stats-acquired'} 0
        %td
          %span{class: 'badge pull-right', id: 'xp-stats-planned'} 0

      %tr
        %td Skills
        %td
          %span{class: 'badge pull-right', id: 'xp-skills-acquired'} 0
        %td
          %span{class: 'badge pull-right', id: 'xp-skills-planned'} 0
      %tr{class: 'success'}
        %td 
          %strong Total
        %td 
          %span{class: 'badge pull-right', id: 'xp-total-acquired'} 0
        %td
          %span{class: 'badge pull-right', id: 'xp-total-planned'} 0