%div{id: 'chart'}

= javascript_include_tag 'calendar/highcharts.js'
= javascript_include_tag 'calendar/highcharts-more.js'
= javascript_include_tag 'calendar/calendar-charting.js'

:javascript
	calendar_charting.init()
