.popover {
  min-width: 200px !important;
  width: auto;
  left: 33% !important;
}

.popover-content {
  padding: 8px;
  width: 100%;
  font-family: 'Exo', sans-serif;
  font-size: 12px;
}

.popover.popover-skill > .arrow {
  left: 60% !important;
}

.popover.popover-skill {
  max-width: 67% !important;
  min-width: 67% !important; 
}

.popover.popover-skill > .popover-title {
  padding: 8px;
  display: grid;
  font-family: 'Exo', sans-serif;
  font-size: 12px;
  font-weight: bold;
}

.popover-skill-close {
  margin-top: -1px;
  margin-bottom: -4px;
}

.skill {
  cursor: pointer;
  //background-color: white;
  border-bottom: 1px solid #ddd;
  padding: 4px;
}

.skill-infancy {
  display: none;
  background-color: #ccc;
  opacity: 0.5;
}

.skill {
  display: flow-root;
}

.skill-name {
  display: inline-flex;
}

#skill-pool > .skill-name {
  width: 80%;
}

#skills-acquired .skill-name, #skills-planned .skill-name {
  width: 50%;
}

#cs-print {
  cursor: pointer;
}

@media print {
  .row.main {
    display: none;
  }

  .footer {
    display: none;
  }
}
/*.skill-cost {
  margin-top: 1px;
}*/

.brand.dropdown-menu {
  margin-top: -20px;
  margin-left: 8px;
  font-size: 125%;
}

.badge-success {
  background-color: #5cb83c;
}

.badge-error {
  background-color: #d9534f;
}

.badge-checkin {
  background-color: #33b5e5;
}

.cond-disabled {
  text-decoration: line-through;
  color: #aaa;
}

.cond-discounted {
  color: blue;
}

.cond-cheapest {
  color: green;
  font-weight: bold;
}

.cond-ok {

}

.cond-error {
  color: red;
}

.skill-selected {}

.drop-highlight {
  background-color: #dff0d8;
  border-color: #3f5f38;
  cursor: pointer;
}

.drop-highlight-group {
  background-color: #3071a9;
  color: white;
  cursor: pointer;
}

.btn-alternator {
  font-family: 'Exo', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 11px;
  font-weight: bold;
  padding: 1px 6px 0px 6px;
  margin: -1px 2px 0px 2px;
  border: 0px;
}

.popover-title {
  font-size: 12px;
  font-weight: normal;
}

.row.signet {
  height: 2px;
  //margin: 0px -4px -4px -4px;
  margin-bottom: -4px;
  margin-left: -4px;
  margin-right: -4px;
  //background-color: red;
}

.signet-cell {
  height: 2px;
}

.signet-open {
  background-color: #d48100;
}

.signet-0 {
  background-color: #009d2f;
}

.signet-1 {
  background-color: #d41d00;
}

.signet-2 {
  background-color: #03438b;
}

.signet-empty {

}

#skill-pool-no-result {
  display: none;
  text-align: center;
}