.popover {
  min-width: 200px !important;
  width: auto;
}

.popover-content {
  padding: 8px;
  width: 100%;
}

.skill {
  cursor: pointer;
  //background-color: white;
  border-bottom: 1px solid #ddd;
  padding: 2px 4px 2px 4px;
}

.skill-infancy {
  display: none;
  background-color: #ccc;
  opacity: 0.5;
}

.skill {
  display: flow-root;
}

.skill-name {
  display: inline-flex;
}

#skill-pool > .skill-name {
  width: 80%;
}

#skills-acquired .skill-name, #skills-planned .skill-name {
  width: 50%;
}
/*.skill-cost {
  margin-top: 1px;
}*/

.badge-success {
  background-color: #5cb83c;
}

.badge-error {
  background-color: #d9534f;
}

.cond-disabled {
  text-decoration: line-through;
  color: #aaa;
}

.cond-discounted {
  color: blue;
}

.cond-cheapest {
  color: green;
  font-weight: bold;
}

.cond-ok {

}

.cond-error {
  color: red;
}

.skill-selected {}

.drop-highlight {
  background-color: #dff0d8;
  border-color: #3f5f38;
  cursor: pointer;
}

.drop-highlight-group {
  background-color: #3071a9;
  color: white;
  cursor: pointer;
}

.btn-alternator {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding: 0px 6px;
  margin: -1px 2px 0px 2px;
  border: 0px;
}

.popover-title {
  font-size: 12px;
  font-weight: normal;
}

#skill-pool-no-result {
  display: none;
  text-align: center;
}