body {
  font-family: 'Exo', sans-serif;
  font-size: 12px;
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
  //overflow-x: hidden;
  //overflow-y: hidden;
  //overflow-y: hidden;
}

body:hover {
  overflow-y: auto;
}

hr {
  margin-top: 4px;
  margin-bottom: 4px;
}

.navbar {
  margin: 0px;
}

.navbar.navbar-xs {
  min-height: 36px;
  height: 36px;
  //opacity: 0.7;
  //background-color: #000;
}

.navbar-xs .navbar-brand {
  padding: 8px 8px;
}

.navbar-xs .navbar-nav > li > a {
  padding: 8px 8px;
}

.navbar-container {
  max-width: 640px;
}

.navbar-brand-main {
  padding-left: 0;
}

.navbar-minmax, .navbar-brand.navbar-minmax {
  padding-left: 0;
  padding-right: 0;
}

a.navbar-brand.navbar-brand-main {
  margin-left: 0 !important;
}

.row.navbar-row {
  margin-left: 0;
}
.row.main {
  margin-right: 0px;
  margin-left: 0px;
}

#main-left, #main-right {
  margin-top: 36px;
  //overflow-y: hidden;
  overflow-x: hidden;
  padding: 0px;
}

#main-left {
  z-index: 10;
  padding-right: 2px;
}

#main-right {

}

#main-left:hover, #main-right:hover {
  overflow-y: auto;
}

#skill-pool {
  display: inline-table;
  width: 100%;
}

#skills-acquired, #skills-planned {
  display: inline-table;
  width: 100%;
  height: 128px;
}

input.input-stat.input-sm {
  height: 30px;
}

.badge {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin-top: -1px;
  margin-bottom: -1px;
  font-size: 12px;
  font-weight: 700;
  white-space: nowrap;
  vertical-align: middle;
  text-align: right;
}

.badge-header {
  margin-top: -4px;
}

.stat-pad {
  padding-top: 2px;
  padding-bottom: 2px;
}

.btn {
  font-size: 12px;
}

.btn-tool-group {
  margin-top: -4px;
  margin-bottom: 4px;
}

.btn-tool-group-planner {
  margin-top: -16px;
  margin-bottom: 4px;
}

.btn-stat {
  padding: 0px 4px;
}

.form-control.input-stat {
  padding: 0px 4px;
}

.stat-sum {
  text-align: right;
  font-weight: bold;
}

.extrapad {
  margin-top: 4px;
}
.xp-block {
}

#config-button {
  white-space: nowrap;
  text-overflow: ellipsis;
}

#profile-rename {
  max-width: 80%;
  text-overflow: ellipsis;
}

.align-right {
  text-align: right;
}

.drop-box {
  padding-right: 2px;
  padding-top: 4px;
  padding-left: 2px;
}

.dropdown-menu {
  font-size: 12px;
  max-height: 800%;
  overflow-y: auto;
}

.default-no-selection {
  color: #888;
}

.form-control {
  font-size: 12px;
}

.group-header {
  font-weight: bold;
}

.popover-skill > .popover-content {
  padding: 2px;
  font-family: 'Exo', sans-serif;
  font-size: 12px;
}

.popover-skill > .popover-content > .popover-costs {
  
  max-height: 224px !important;
  overflow-y: auto;
}

.popover-interactions {
  max-height: 80px !important;
  overflow-y: auto;
  border-top: 1px solid #aaa;
  padding-top: 2px;
  background-color: #f7f7f7;
}

.stat-left, .stat-right {
  padding-top: 6px;
}

.stat-left {
  padding-right: 2px;
}

.stat-right {
  padding-right: 0px;
}

.stat-control {
  padding-left: 2px;
  padding-right: 2px;
  margin-bottom: 4px;
}

.form-control {
  padding-top: 4px;
  padding-bottom: 4px;
}

.drop-container {
  min-height: 120px;
  border-radius: 4px;
  border: 1px solid #ddd;
  max-height: 360px;
}

.modal-dialog.modal-loader {
  //width: 60%;
  //left: 20%;
  //right: 20%;
  margin-left: auto;
  margin-right: auto;
  top: 10%;
  max-width: 256px;
}

.modal-dialog.modal-unlock {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  top: 10%;
}

.xp-table {
  margin-left: 2px;
  margin-bottom: 8px;
}

.stat-container {
  margin-top: 2px;
  padding-right: 4px;
  margin-left: -15px;
  padding-left: 4px;
}

.footer {
  border-top: 1px solid #888;
  padding-top: 2px;
}
.credits {
  padding-right: 4px;
  font-style: italic;
  color: #888;
  text-align: right;
  font-size: 11px;
}